<h1 class="login_header">RakuRaku</h1>
<div class="entry_top">
  <h2 class="step1">STEP1 入力</h2><div class="step1_triangle"></div>
  <div class="a" style="border-color: #55c500 transparent #55c500 transparent; "></div>
  <h2 class="step2"  style="background: #55c500;color: white;">STEP2 確認</h2><div class="step2_triangle" style="border-left: 25px solid #55c500;"></div>
  <div class="a2"></div>
  <h2 class="step3">STEP3 完了</h2>
</div>

<p class="login_info_msg">確認情報</p>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="entry_form2">
    <p class="login_form_detail">氏名<span class="form_span">必須</sapn></p>
    <p class="entry_form_info"><%= @user.name %></p>
    <p class="login_form_detail">メールアドレス (半角英数字)<span class="form_span">必須</sapn></p>
    <p class="entry_form_info"><%= @user.email %></p>
    <p class="login_form_detail">パスワード(半角英数字)<span class="form_span">必須</sapn></p>
    <p class="entry_form_info"><%= @user.password %></p>
    <%= f.hidden_field :name  %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :password  %>
    <%= f.hidden_field :password_confirmation %>
    <div class="entry_button_mass">
      <%= link_to '戻る', :back, class: "entry_button" %>
      <%= f.submit '送信' ,class: 'entry_button1' %>
    </div>
  </div>
<% end %>
