<div class="header">
  <div class="header_top">
    <%= link_to 'RukuRaku', '#', class: 'header_left_link' %>
    
    <div class="header_right">
      <%= link_to '記事投稿', '#', class: 'article_btn' %>
      <%= link_to 'ログイン', login_path, class: 'login_link' %>
      <%= link_to 'ログアウト', logout_path, class: 'logout_link' %>
    </div>
  </div>
  
  <div class="header_bottom">
    <%= link_to 'Ruby', '#', class: 'trend' %>
    <%= link_to 'ColdFusion', '#', class: 'trend c' %>
    <%= link_to 'SQL', '#', class: 'trend' %>
    <%= link_to 'その他', '#', class: 'trend' %>
  </div>
</div>