<div class="header">
  <div class="header_top">
    <%= link_to 'RukuRaku', root_path, class: 'header_left_link' %>
    
    <div class="header_right">
      <% if logged_in? %>
        <%= link_to 'プロフィール', user_path(current_user), class: 'profile' %>
        <%= link_to '記事投稿', new_article_path, class: 'article_btn' %>
        <%= button_to logout_path, method: :delete, class: 'logout_link' do %>
          <i class="fas fa-sign-out-alt"></i>
          <p class="sign_in_out">ログアウト</p>
        <% end %>
      <% else %>
        <%= link_to 'ログイン', logout_path, method: :delete, class: 'logout_link' %>
      <% end %>
    </div>
    <i class="fa fa-navicon" id="responsive_menu_open"></i> <%# レスポンシブサイズのヘッダーメニュー 開くボタン %>
    <i class="fa fa-remove" id="responsive_menu_close"></i> <%# レスポンシブサイズのヘッダーメニュー 閉じるボタン %>
    <div class="responsive_menu" id="responsive_menu">
      <%= link_to 'ホーム', root_path, class: 'responsive_menu_link_part' %>
      <%= link_to 'プロフィール', user_path(current_user), class: 'responsive_menu_link_part' %>
      <%= link_to '記事投稿', new_article_path, class: 'responsive_menu_link_part' %>
      <%= button_to 'ログアウト', logout_path, method: :delete, class: 'responsive_menu_link_part last_menu' %>
    </div>
  </div>
  
  <div class="header_bottom">
    <% if @switch_line == 'home' %>
      <%= link_to 'ホーム', home_articles_path, class: 'trend selecte' %>
    <% else %>
      <%= link_to 'ホーム', home_articles_path, class: 'trend' %>
    <% end %>
    <% if @switch_line == 'ruby' %>
      <%= link_to 'Ruby', ruby_articles_path, class: 'trend selecte' %>
    <% else %>
      <%= link_to 'Ruby', ruby_articles_path, class: 'trend' %>
    <% end %>
    <% if @switch_line == 'rails' %>
      <%= link_to 'Rails', rails_articles_path, class: 'trend selecte' %>
    <% else %>
      <%= link_to 'Rails', rails_articles_path, class: 'trend' %>
    <% end %>
    <% if @switch_line == 'coldfusion' %>
      <%= link_to 'ColdFusion', coldfusion_articles_path, class: 'trend c selecte' %>
    <% else %>
      <%= link_to 'ColdFusion', coldfusion_articles_path, class: 'trend c' %>
    <% end %>
    <% if @switch_line == 'sql' %>
      <%= link_to 'SQL', sql_articles_path, class: 'trend selecte' %>
    <% else %>
      <%= link_to 'SQL', sql_articles_path, class: 'trend' %>
    <% end %>
    <% if @switch_line == 'others' %>
      <%= link_to 'その他', others_articles_path, class: 'trend selecte' %>
    <% else %>
      <%= link_to 'その他', others_articles_path, class: 'trend' %>
    <% end %>
  </div>
</div>