<div class="header">
  <div class="header_top">
    <%= link_to 'RukuRaku', '#', class: 'header_left_link' %>
    
    <div class="header_right">
      <% if logged_in? %>
        <%= link_to '記事投稿', new_article_path, class: 'article_btn' %>
        <%= button_to logout_path, method: :delete, class: 'logout_link' do %>
          <i class="fas fa-sign-out-alt"></i>
          <p class="sign_in_out">ログアウト</p>
        <% end %>
      <% else %>
        <%= link_to 'ログイン', logout_path, method: :delete, class: 'logout_link' %>
      <% end %>
    </div>
  </div>
  
  <div class="header_bottom">
    <%= link_to 'Ruby', ruby_articles_path, class: 'trend' %>
    <%= link_to 'Rails', rails_articles_path, class: 'trend' %>
    <%= link_to 'ColdFusion', coldfusion_articles_path, class: 'trend c' %>
    <%= link_to 'SQL', sql_articles_path, class: 'trend' %>
    <%= link_to 'その他', others_articles_path, class: 'trend' %>
  </div>
</div>