<!DOCTYPE html>
<html>
  <head>
    <title>RakuInfo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# fontawesome読み込みの記述 %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%# googlefontfamily読み込みの記述 %>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <%# Vue.js読み込みの記述 %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <%# marked.js読み込みの記述 %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
    <script src="https://kit.fontawesome.com/00e4001a9c.js" crossorigin="anonymous"></script>
        
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if @path == '/login' or @path == '/users/new' or @path == '/users/new/user_confirm' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>

    <% if @path == '/articles/new' or @path.match('/articles/[0-9]')%>
      <div class="content">
    <% else %>
      <div class="container">
    <% end %>
      <% if flash[:success].present? %>
        <p class="success_dsn"><i class="fa fa-check "></i><%= flash[:success] %><p>
      <% elsif flash[:danger].present? %>
        <p class="success_dsn"><i class="fa fa-check "></i><%= flash[:danger] %><p>
      <% elsif flash[:not_login].present? %>
        <p class="success_dsn"><i class="fa fa-check "></i><%= flash[:not_login] %><p>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
